.one {
    background: yellow;
}

.two {
    background: orange;
}

.three {
    background: violet;
}

.four {
    background: aqua;
}

.five {
    background: darkviolet;
}

.six {
    background: forestgreen;
}