.container {
	border: solid black 1px;
	width: 650px;
	height: 650px;
	display: inline-block;
	margin: 150px;
}

.red {
	border: solid black 1px;
	background: red;
	width: 100px;
	height: 100px;
	position: relative;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);


}

.blue {
    border: solid black 1px;
	background: blue;
	width: 100px;
	height: 100px;
	position: relative;
	top: 50px;
	right: 100px;
}

.green {
	border: solid black 1px;
	background: green;
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 66%;
    left: 37%;
}