body {
    background: #C2D4E4;
}



.the-main-line {
	
	display: flex;
   align-items: center;
   justify-content: space-between;
    border: 2px solid #000000; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}

.logout {
   border-left: 1px solid black;
   padding: 10px;
   font-family: 'Jost';
   font-style: normal;
}

.logotype {
display: flex;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;
left: 10px;


color: #000000;


}




.options {
  display: flex;
  position: relative;
  justify-content: space-between;
  font-family: 'Jost';
  font-style: normal;
  gap: 100px;
  
  


}

.ads-blocks {
    display: flex;
    flex-direction: column;
    position: relative;
    border: solid black 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
    margin-left: 10px;
    width: 310px;
    height: 690px;
    background: #F4F4F4;

}

.ads-text {
    font-family: 'Jost';
    font-style: normal;
    padding: 20px;
    gap: 10px;
    
}


.trends {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: -537px;
    margin-left: 1562px;
    width: 310px;
    height: 410px;
    background: #F4F4F4;
}

.main-ads-text {
    font-family: 'Jost';
    font-size: large;
    font-style: italic;
    padding: 20px;
    border: black solid 1px;
    background-color: #D6E9FA;
    gap: 10px;
}

.post-type-placeholder {
    width: 552px;
    height: 248px;
    border: solid black 1px;
    margin-top: -557px;
    margin-left: 659px;
    background-color: #F4F4F4;
}

.post-itself {

}


.add-post {
    margin-top: 80px;
    margin-left: 231px;
    color: blue;
}

input {
margin-top: 1px;
}