body {
    background: #C2D4E4;
}



.the-main-line {
	position: absolute;
	top: 60px ;	
    width: 1921px;
    left: 0px;
    height: 0px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logotype {
  position: absolute;
width: 476px;
height: 123px;
top: -55px;
left: 18px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;

color: #000000;


}

.another-line {
   position: absolute;
   width: 64px;
   height: 0px;
   top: -34px;
   left: 1715px;

 border: 1px solid #000000;
 transform: rotate(-90deg); 
}

