body {
	background: #C2D4E4;
}

.upper-block {
	margin: auto;
	background: #ECECEC;
	height: 370px;
	border-radius: 0px 0px 33px 33px;
}

.the-line {
	border: solid black 1px;
    position: absolute;
}